body {
    background-color: #212529 !important;
    overflow-x: hidden;
}

.container.clamp {
    max-width: 800px;
    margin: 0 auto;
}

#gh {
    clip-path: inset(0 0 10% 0); /* Adjust the 10% to suit the size of the watermark */
}